<!DOCTYPE html>
<html>
  <head>
    <title>LabReports</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "turbo-track" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <turbo-frame id="flash">
      <%= render 'shared/flash' %>
    </turbo-frame>
    
    <div class='container'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% if user_signed_in? %>
      <%= link_to "Main page", root_path %>
      <h3>Welcome <%= current_user.email %></h3>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% end %>

      <%= yield %>
    </div>
    
  </body>
</html>
